.modal-container{
    padding: 10px;
}

ion-button{
    letter-spacing: 0px;
    margin-top: 15px;
}

ion-input{
    --border-width: 2px;
    --min-height: 45px;
}
.form-group{
    display: flex;
    flex-direction: column;
    gap:20px;
}

.form-actions{
    display: flex;
    justify-content: center;
}