<ion-header [translucent]="false">
  <ion-toolbar>
    <ion-buttons slot="start" (click)="goBack()">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  
  <app-media-item
    [name]="playlist!.name"
    [image]="playlist!.image"
    [numberOfTracks]="playlist!.numberOfTracks"
    [isPlaylist]="true"
    [isPreview]="true"
  />

  <div class="media-list">
    @for (item of items; track $index) {
      <app-media-item 
        [id]="item.id"
        [name]="item.name" 
        [autor]="item.autor" 
        [runtime]="item.runtime" 
        [image]="item.image"
        [isOwner]="true"
        [location]="playlist!.id"
        (itemClick)="onSongClick(item.id)"
        (editItem)="onEditItem(item.id)"
        (addToPlaylist)="onAddToPlaylist(item.id)"
        (deleteItem)="onDeleteItem(item.id)"
        (removeFromPlaylist)="onRemoveFromPlaylist(item.id)"
      >
    </app-media-item>
    }
  </div>

</ion-content>
