
<div style="max-height: 30vh; overflow-y: auto;">
  <ion-list >
      @for (playlist of playlists; track $index) {
        <ion-item 
          style="--background: black;"
          (click)="onPlaylistSelect(playlist._id)"
        >
          <ion-thumbnail slot="start">
            <img src="{{playlist.poster_image ?? 'https://ionicframework.com/docs/img/demos/thumbnail.svg'}}" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{playlist.name}}</h2>
          </ion-label>
        </ion-item>
      }
  </ion-list>
</div>
