<ion-item 
  lines="none" 
  (click)="!isPreview && itemClick.emit()"
  [class.shrink-on-press]="!isPreview"
  [class.preview]="isPreview"
  >

  <ion-thumbnail slot="start">
    <img src={{image}} />
  </ion-thumbnail>

  <ion-label>
    <h2>{{name}}</h2>
    @if(!isPlaylist){
      <p>{{formatRuntime(runtime)}} - {{autor}}</p>
    } @else {
      <p>{{numberOfTracks}} tracks</p>
    }
  </ion-label>

  @if(isOwner){
    <ion-icon slot="end" name="ellipsis-vertical" class="icon-top" (click)="openOptionsModal($event)"></ion-icon>
  } @else {
    @if (!isPlaylist){
      <ion-icon
        [name]="isFavorite ? 'heart' : 'heart-outline'"
        slot="end"
        (click)="toggleFavorite($event)"
        [class.heart-animate]="isAnimatingFavorite"
        [class.heart-blue]="!isFavorite"
        [class.heart-active]="isFavorite"
      ></ion-icon>
    } @else {
      @if(!isPreview){
        <ion-icon slot="end" name="chevron-forward-outline" color="primary"></ion-icon>
      }
    }  
  }
  
</ion-item>
