
    <div class="block">

      <div class="image-section">
        <ion-thumbnail slot="start" (click)="!isEdit && selectImageFromGallery()" [class.disabled]="isEdit">
          <img [src]="form.imageURL || 'https://i.postimg.cc/65vGpZnx/descarga.png'" />
        </ion-thumbnail>

      @if (!isEdit) {
        <span class="image-label">Select a cover image</span>
      }
      </div>

      <div class="file-row" [ngClass]="{ 'edit-mode': isEdit }">
        <label class="custom-file-label" for="audio-upload">
          File Song
        </label>
        <span class="file-name">{{ form.selectedFile?.name || 'audio file' }}</span>
        <input
          id="audio-upload"
          type="file"
          accept="audio/*"
          class="file-input"
          (change)="onAudioSelected($event)"
          [disabled]="isEdit"
        />
      </div>

      <ion-input 
        label-placement="stacked"
        fill="outline"
        label="Song Name"
        placeholder="Enter song name"
        type="text"
        shape="round"
        [(ngModel)]="form.songName"
      ></ion-input>

      <div class="row">
        <div class="input-container">
          <ion-input 
          label-placement="stacked"
          label="Artist"
          type="text"
          shape="round"
          fill="outline"
          disabled="true"
          value="{{ form.artistName }}"
          />
        </div>
        
        <div class="input-container duration">
          <ion-input 
          label-placement="stacked"
          label="Duration"
          placeholder="0:00"
          type="text"
          fill="outline"
          shape="round"
          disabled="true"
          value="{{ form.durationValue }}"
          />
        </div>
        
      </div>

      <div class="category-section">
        <ion-select 
          label="Category" 
          placeholder="Select a category" 
          interface="alert" 
          fill="outline" 
          shape="round"
          [disabled]="isEdit"
          [(ngModel)]="form.selectedCategories">
          
          @for (category of categories ; track category._id) {
            <ion-select-option [value]="category._id">{{ category.name || 'Sin nombre'}}</ion-select-option>
          }
        </ion-select>
      </div>

      <div class="button-section">
          <ion-button expand="block" fill="solid"  [disabled]="!isFormValid()" (click)="onSave()">
            Save
          </ion-button>
      </div>
    
    </div>

