<ion-header [translucent]="false">
  <ion-toolbar>
    <h2>Playlist</h2>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">

  <div class="media-list">
    <app-media-item
      [name]="'Favorites'"
      [image]="'../../../assets/my-favorites.png'"
      [numberOfTracks]="favoriteSongsNumber"
      [isPlaylist]="true"
      (itemClick)="onItemClick('favorites', 'Favorites', favoriteSongsNumber)"
    />
  
    @if(isAuthor){
    <app-media-item
      [name]="'Your Songs'"
      [image]="'../../../assets/my-songs.png'"
      [numberOfTracks]="userSongsNumber"
      [isPlaylist]="true"
      (itemClick)="onItemClick('my-songs', 'Your Songs', userSongsNumber)"
    />
  }
  </div>

  <div class="list-header">
    <span>All playlist</span>
    <ion-button fill="clear" class="icon-text-btn" (click)="openPlaylistModal()">
      <ion-icon slot="start" name="add-circle-outline"></ion-icon>
      Add new
    </ion-button>
  </div>

  <div class="media-list">
    @for (item of items; track $index) {
      <app-media-item 
        [name]="item.name" 
        [image]="item.poster_image ?? 'https://ionicframework.com/docs/img/demos/thumbnail.svg'"
        [numberOfTracks]="item.songs.length"
        [isPlaylist]="true"
        [isOwner]="true"
        (itemClick)="onItemClick(item._id, item.name, item.songs.length)"
        [location]="'playlist'"
        (editPlaylist)="openPlaylistModal(item._id)"
        (deletePlaylist)="onDeletePlaylist(item._id)"
      />
    }
  </div>
</ion-content>