
.player-container {
    width: 100%;
    padding: 5px;
    border-radius: 8px;
}

.time-display {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    color: var(--ion-color-medium);
}

.progress-bar {
    --bar-height: 6px;
    --knob-size: 16px;
    --height: 30px;
    --bar-background: rgb(183, 183, 183);
    --bar-border-radius: 10px;
    --bar-background-active: #2196f3;
    
    padding: 0;
}

ion-icon{
   color: white;
   font-size: 24px;
}

.controls {
    display: flex;
    justify-content: center;
    align-items: center;

    ion-button {
        --padding-start: 0;
        --padding-end: 0;
        --padding-top: 0;
        --padding-bottom: 0;
        width: 48px;
        height: 48px;
        
    }
    
    
}

.play-pause-button {
    ion-icon {
        font-size: 45px;
    }
}