<ion-header [translucent]="true" class="ion-safe-area-top">
  <ion-toolbar>
    <h2>Explore</h2>
  </ion-toolbar>
  <ion-toolbar class="search">
    <div class="search-row">
      <ion-searchbar placeholder="Search" class="custom" (ionInput)="onSearchInput($event)"></ion-searchbar>
      <ion-icon name="options-outline" (click)="openCategorySelect(categorySelect)"></ion-icon>
      <ion-select
      #categorySelect
      style="display: none"
      [(ngModel)]="selectedCategory"
      (ionChange)="onCategorySelected($event)"
      interface="alert"
      placeholder="Select a category"
    >
      <ion-select-option [value]="''">None</ion-select-option>
      @for (category of categories ; track category._id) {
        <ion-select-option [value]="category._id">{{ category.name || 'Sin nombre'}}</ion-select-option>
      }
    </ion-select>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="media-list">
    @if(items.length === 0 && !isLoading) {
      <div class="no-results">
        <ion-icon name="alert-circle-outline" style="font-size: 32px; color: #ccc;"></ion-icon>
        <p>No se encontraron canciones.</p>
      </div>
    }
    @for (item of items; track item.id) {
      <app-media-item 
        [id]="item.id"
        [name]="item.name" 
        [autor]="item.autor" 
        [runtime]="item.runtime" 
        [image]="item.image"
        [isFavorite]="item.isFavorite"
        (itemClick)="onSongClick(item.id)"
      ></app-media-item>
    }
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more songs...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  @if(isAuthor) {
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="primary">
    <ion-fab-button (click)="onClick()" expand="block">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  }

</ion-content>