<ion-header [translucent]="true">
  <ion-toolbar>
    <h2>Explore</h2>
  </ion-toolbar>
  <ion-toolbar>
    <ion-searchbar placeholder="Search" class="custom"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="media-list">
    @for (item of items; track item.id) {
      <app-media-item 
        [id]="item.id"
        [name]="item.name" 
        [autor]="item.autor" 
        [runtime]="item.runtime" 
        [image]="item.image"
        [isFavorite]="item.isFavorite"
        (itemClick)="onSongClick(item.id)"
      ></app-media-item>
    }
  </div>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more songs...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="primary">
    <ion-fab-button (click)="onClick()" expand="block">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>